<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/ajuda.css">
    <link rel="stylesheet" href="../static/css/responsividade.css">
    <link rel="icon" href="../static/imagens/Favicon.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Ajuda</title>
</head>
<body>
    <div class="Logo">
        <img src="../static/imagens/Logo.png" alt="">
    </div>

    <section class="ComoBaixar">
        <div class="textos">
            <h1>Download dos documentos de teste</h1>
            <h2>Olhe o tutorial para saber como baixar os documentos.</h2>
        </div>

        <div class="ImgDeExemplo">
            <img src="../static/imagens/Pagina de ajuda/img1ComoBaixar.png" alt="">
            <img src="../static/imagens/Pagina de ajuda/img2ComoBaixar.png" alt="">
        </div>

        <div class="BtnBaixar">
            <a href="../static/Documentos/Doc de teste.pdf" class="download-btn" download="nome_do_arquivo">
                <button>Baixe os Documentos aqui!</button>
            </a>
        </div>
    </section>

    <section class="ComoUsar">
        <div class="textos2">
            <h1>Forma de uso dos documentos</h1>
            <h2>Olhe para saber a melhor forma de usar a ferramenta do site.</h2>
        </div>

        <div class="ImgDeComoUsar">
            <img src="../static/imagens/Pagina de ajuda/Img1ComoUsar.png" alt="">
            <img src="../static/imagens/Pagina de ajuda/img2ComoUsar.png" alt="">
            <img src="../static/imagens/Pagina de ajuda/img3ComoUsar.png" alt="">
            <img src="../static/imagens/Pagina de ajuda/img4ComoUsar.png" alt="">
        </div>
        <br>

        <div class="BtnBaixar2">
            <a href="/">
                <button>Voltar ao inicio</button>
            </a>
        </div>
    </section>
</body>
</html>